<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>CFBundleDisplayName</key>
	<string>Journeys East Menu</string>
	<key>CFBundleIdentifier</key>
	<string>com.tulalipdata.JourneysEastMenu</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIconFiles</key>
	<array/>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>UIMainStoryboardFile</key>
	<string>MainCourse</string>
	<key>UILaunchStoryboardName</key>
	<string>MainCourse</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainCourse</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Media.xcassets/LaunchImages.launchimage</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
</dict>
</plist>
